<div class="row contenido">
<div class="row">
    <div class="col-7"><p>Propina por persona</p></div>
    <div class="col"><p class="text-end">${{propinaPorPersona}}</p></div>
</div>

<div class="row">
    <div class="col-7"><p>Propina total</p></div>
    <div class="col"><p class="text-end">$0.0</p></div>
</div>

<div class="row">
    <div class="col-7"><p>Cuenta + Propina</p></div>
    <div class="col"><p class="text-end">$0.0</p></div>
</div>

<div class="row">
    <button (click)="refresh()" type="button" class="btn btn-light btn_limpiar">Limpiar</button>
</div>
</div>