* {background-color: #ffff;
}
button,.grupo_btn{
    width: 80%;
    margin: 5%;
}
.btn-porcentual {
    color: #fff;
    background-color: #3F6E8A;
    border-color:#3F6E8A;
}
.btn-porcentual:hover {
    color: #fff;
    background-color: #1c3b4e;
    border-color:#3F6E8A;
}
.btn-porcentual:focus {
    color: #fff;
    background-color: #1c3b4e;
    border-color:#3F6E8A;
}