* {background-color: #ffff;
}
.row:first-of-type {
    padding-top:10%;
    padding-bottom:10%
  }

button,.grupo_btn{
    width: 80%;
    margin: 5%;
}
.btn-porcentual {
    color: #fff;
    background-color: #3F6E8A;
    border-color:#3F6E8A;
}
.btn-porcentual:hover {
    color: #fff;
    background-color: #1c3b4e;
    border-color:#3F6E8A;
}
.btn-porcentual:focus {
    color: #fff;
    background-color: #1c3b4e;
    border-color:#3F6E8A;
}


@media (min-width: 768px) { 
    /*pantallas superiores a 768*/
    .row:first-of-type{
        
    }
 }